footer {
  margin-top: 1rem;
  padding: 0 1rem;
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
}

#footer-container {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  border-top: 1px solid var(--text-very-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer-container > li {
  text-align: center;
  width: 50%;
}

#copyright {
  padding-right: 1rem;
  border-right: 1px solid var(--text-very-dark);
}

#source-code {
  padding-left: 1rem;
}

@media(min-width: 768px) {
  footer {
    bottom: 0;
  }
}

@media (min-width: 1336px) {
  footer {
    min-width: 70vw;
    left: 15vw;
    right: 15vw;
  }
}

@media (min-width: 2560px) {
  footer {
    min-width: 70vw;
    left: 15vw;
    right: 15vw;
  }
}
