:root {
  --teal-dark: #00796b;
  --teal-med: #009688;
  --teal-light: #4db6ac;

	--nav-top-dark: var(--teal-dark);
	--nav-top-med: var(--teal-med);
	--nav-top-light: var(--teal-light);

  --cyan-dark: #0097a7;
  --cyan-med: #00bcd4;
  --cyan-light: #4dd0e1;

	--nav-drop-dark: var(--cyan-dark);
	--nav-drop-med: var(--cyan-med);
	--nav-drop-light: var(--cyan-light);

  --text-light: #eceff1;
  --text-med: #b0bec5;
  --text-dark: #78909c;
  --text-very-dark: #37474f;

  --bg-light: #eceff1;
  --bg-dark: #cfd8dc;
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-very-dark);
}

body {
    margin: 0;
    position: relative;
    background-color: var(--bg-light);
    min-height: 100vh;
}

main {
    padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    padding-bottom: 0.25rem;
    margin: 0.5rem 0;
    margin-top: 1rem;
    color: var(--text-very-dark);
}

h1, h2, h3 {
    font-weight: 800;
    border-bottom: 1px solid var(--text-very-dark);
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

p, li {
    font-size: 1rem;
}

p {
  margin: 0.5rem 0;
}

ul {
  margin: 0;
  padding-left: 0.5rem;
  list-style-type: square;
  list-style-position: inside;
}

a, a:visited {
  color: var(--text-very-dark);
}

a:hover {
  color: var(--text-dark);
}

.title, .subtitle{
  padding: 0;
  line-height: 1;
}

.title {
  margin-bottom: 0.25rem;
  border-bottom: none;
  font-size: 2.25em;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-size: 1.5rem;
}

code {
  background-color: var(--bg-dark);
  padding: 2px;
  border-radius: 0.25rem;
}

.extern-link {
  text-decoration-style: double;
}

@media (min-width: 1336px) {
  main {
    max-width: 70vw;
    margin-left: 15vw;
  }

  html {
    background-color: var(--bg-light);
  }
}

@media (min-width: 2560px) {
  main {
    max-width: 50vw;
    margin-left: 25vw;
  }
}
