nav {
    z-index: 9999;
    margin: 0;
    padding: 0;
    position: sticky;
    background-color: var(--nav-top-dark);
    top: 0;
		border-bottom: 2px solid var(--text-med);
}

#nav-right > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: var(--nav-drop-med);
		border-bottom: 2px solid var(--text-med);
}

#nav-right > ul > li {
    display: inline;
}

nav > a {
  display: inline-block;
}

.droplink > a, .droplink > a:visited, nav > a, nav > a:visited {
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
}

.home:hover, .navbar-toggle:hover {
  color: var(--text-med);
}

#nav-right > ul > li > a {
  display: none;
}

#nav-right > ul > li > a:hover {
  background-color: var(--nav-drop-dark);
}

.home, .navbar-toggle {
  color: var(--text-light);
}

@media (min-width: 768px) {
    nav {
      overflow: hidden;
    }

    nav > a {
      display: inline-block;
    }

    #nav-right {
      float: right;
      display: inline-block;
    }

    #nav-right > ul {
        position: relative;
        flex-direction: row;
        flex-grow: 1;
        border: none;
        justify-content: flex-end;
        background-color: var(--nav-top-dark);
    }

    #nav-right > ul > li {
      flex-grow: 0;
    }

    #nav-right > ul > li > a {
      display: block;
      text-align: center;
    }

    #nav-right > ul > li {
      display: block;
      flex-grow: 1;
    }

    #nav-right > ul > li a:hover, nav > a:hover {
        background-color: var(--nav-top-med);
    }

    .navbar-toggle {
        display: none;
    }

    .home:hover, .navbar-toggle:hover {
      color: var(--text-light);
    }
}

