<ul id="footer-container">
  <li id="copyright">
    <a href="/copyright/">Copyright &copy; 2020 Timothy Laskoski</a>
  </li>
  <li id="source-code">
    <a href="https://gitlab.com/tslnc04/sentry-eagle.com">Source Code</a>
  </li>
</ul>
