<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="${description}">
  <meta name="keywords" content="${for(keywords)}${keywords}${sep}, ${endfor}">

  <title>${title}</title>

  <link href="/assets/favicon.png" rel="stylesheet" type="image/png">

  <link href="/assets/main.css" rel="stylesheet">
  <link href="/assets/navbar.css" rel="stylesheet">
  <link href="/assets/footer.css" rel="stylesheet">
</head>
