<nav>
  <a tabindex=0 class="navbar-toggle" onclick="toggleNavbar(document.getElementById('navbar'))">&#9776;</a>
  <a href="/" class="home">SENTRY-EAGLE.COM</a>
  <div id="nav-right">
    <ul id="navbar">
      <li class="droplink"><a href="/about/">About</a></li>
      <li class="droplink"><a href="/blog/">Blog</a></li>
      <li class="droplink"><a href="/projects/">Projects</a></li>
    </ul>
  </div>
</nav>
